.cards__item__link {
    display: flex;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);  
    border-radius: 10px;
    overflow: hidden; 
    text-decoration: none;
    padding: 30px;
    margin: 10px;
    flex-direction: column;
}

.cards__items {
    margin-bottom: 24px;
}

.forecast__name {
    margin-right: 10px;
    font-size: 20pt;
}

.details {
    display: flex;
    margin-top: 10px;
}

.detail {
    margin-right: 20px;
}